<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Je_AdminOrderAPI>
            <version>0.0.0.1</version>
        </Je_AdminOrderAPI>
    </modules>
    <global>
        <models>
            <adminorderapi>
                <class>Je_AdminOrderAPI_Model</class>
                <resourceModel>modulename_mysql4</resourceModel>
            </adminorderapi>
            <adminorderapi_mysql4>
                <class>Je_AdminOrderAPI_Model_Mysql4</class>
                <entities>
                </entities>
            </adminorderapi_mysql4>
        </models>
        <blocks>
            <adminorderapi>
                <class>Je_AdminOrderAPI_Block</class>
            </adminorderapi>
        </blocks>
    </global>
    <adminhtml>
    </adminhtml>
    <admin>
    </admin>
</config>
